<!DOCTYPE html>
<html lang="en">
<body style="font-family:papyrus;" >
<img src="hopscotch.png" alt="Hopscotch">

	<form action="/fresults" method="POST">
	
<div style="text-align:center"><h1>Lets find something fun!</h1>
<br>
	<p>Please enter your location: <input type="text" name="text1"<br></p></div>
	
<div style="position: absolute; left: 300px; top: 350px">

<h3>Question 1: Are you in a group or going solo?</h3>

  <input type="radio" name="bored1" value="1" checked> Group!<br>
  <input type="radio" name="bored1" value="2"> Solo!<br>
 
<br>
<br>
<h3>Question 2: Something active or something chill?</h3>

  <input type="radio" name="bored2" value="1" checked> Active!<br>
  <input type="radio" name="bored2" value="2"> Chill!<br>
 
<br>
<br>
<h3>Question 3: Adult beverages?</h3>

  <input type="radio" name="bored3" value="1" checked> Yes please!<br>
  <input type="radio" name="bored3" value="2"> Family Friendly please!<br>
 

<br>
<br>
</div>
<div style="position: absolute; right: 150px; top: 350px">

<h3>Question 4:What time of day?</h3>

  <input type="radio" name="bored4" value="1" checked> Night!<br>
  <input type="radio" name="bored4" value="2"> Day!<br>
 
<br>
<br>
<h3>Question 5: Whats the financial situation like?</h3>

  <input type="radio" name="bored5" value="1" checked> Cheap is good!<br>
  <input type="radio" name="bored5" value="2"> Price is no object!<br>
  </div>
	
 
  <div style="position: absolute; right: 740px; top: 805px; height:50px; width:50px"><img src="back.png" alt="back"></div>
  <div style="position: absolute; right: 470px; top: 808px; height:60px; width:60px"><img src="submit.png" alt="back"></div>


  <div style="position: absolute; right: 450px; top: 800px"><input type="submit" name="my-form" value="" style= "background-color: Transparent; background-color: Transparent; background-repeat:no-repeat; height:50px; width:100px"></div>
  <a href="/"><button type="button" value="Back" style="position: absolute; left: 550px; top: 800px; background-color: Transparent; background-color: Transparent; background-repeat:no-repeat; height:50px; width:100px"></button></a>
  
  
</button>
</form>  
<br>
</body>
</div>
<style>

<style type="text/css"> 

{ margin: 0; padding: 0; }

html 
	{ 
        background: url('bg.png') no-repeat; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
	}
img
    {
   	max-width: 100%;
    	height: auto;
    	display: block;
   	margin: 0 auto;
     }
     

</style>

</html>
