<!DOCTYPE html>
<html lang="en">
<body>
	<form action="/fresults" method="POST">
	
<h1>Lets find something fun!</h1>
<br>
	<input type="text" name="text1"<br>
<h3>Question 1: Are you in a group or going solo?</h3>

  <input type="radio" name="bored1" value="1" checked> Group!<br>
  <input type="radio" name="bored1" value="2"> Solo!<br>
 
<br>
<br>
<h3>Question 2: Something active or something chill?</h3>

  <input type="radio" name="bored2" value="1" checked> Active!<br>
  <input type="radio" name="bored2" value="2"> Chill!<br>
 
<br>
<br>
<h3>Question 3: Adult beverages?</h3>

  <input type="radio" name="bored3" value="1" checked> Yes please!<br>
  <input type="radio" name="bored3" value="2"> Family Friendly please!<br>
 

<br>
<br>
<h3>Question 4:What time of day?</h3>

  <input type="radio" name="bored4" value="1" checked> Night!<br>
  <input type="radio" name="bored4" value="2"> Day!<br>
 
<br>
<br>
<h3>Question 5: Whats the financial situation like?</h3>

  <input type="radio" name="bored5" value="1" checked> Cheap is good!<br>
  <input type="radio" name="bored5" value="2"> Price is no object!<br>

  <input type="submit" name="my-form" value="Send"> 
</form>  
<br>
</body>

<style>

{ margin: 0; padding: 0; }

html { 
        background: url('images/bored.png')no-repeat; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

</style>
</html>