<!DOCTYPE html>
<html lang="en">
<body>
    <form action="." method="POST">

		<input type="submit" name="my-form" value="" style="position: absolute; left: 320px; top: 480px; background-color: Transparent; background-color: Transparent; background-repeat:no-repeat; height:130px; width:250px">
		
		<input type="submit" name="my-form" value="" style="position: absolute; right: 330px; top: 480px;background-color: Transparent; background-color: Transparent; background-repeat:no-repeat; height:130px; width:210px">

    </form>
	
	<p><a href="http://www.w3schools.com/html/">Visit our HTML tutorial</a></p>
</body>

<style>

{ margin: 0; padding: 0; }

html { 
        background: url('choose.png') no-repeat; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

</style>

</html>
