<!DOCTYPE html>
<html lang="en">
<body>
    <form action="." method="POST">

		<input type="submit" name="my-form" value="" style="position: absolute; left: 200px; top: 710px; background-color: Transparent; background-color: Transparent; background-repeat:no-repeat; height:50px; width:400px ">
    </form>
</body>

<style>

{ margin: 0; padding: 0; }

html { 
        background: url('images/results.png')no-repeat; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
<img src="{{ url_for('static', filename = 'results.png') }}" width="200" height="85">

</style>
</html>
