<!DOCTYPE html>
<html lang="en">
<body>
    <form action="/hresults" method="POST">

<h1>Satisfy your Hunger!</h1>
<br>
	<input type="text" name="text1"<br>
<h3>Question 1: Something New or Tried and True?</h3>

  <input type="radio" name="hunger1" value="1" checked> Something New!<br>
  <input type="radio" name="hunger1" value="2"> A Popular Chain!<br>

<br>
<br>
<h3>Question 2: Speed or Table Service?</h3>

  <input type="radio" name="hunger2" value="1" checked> Fast Food!<br>
  <input type="radio" name="hunger2" value="2"> Table Service!<br>

<br>
<br>
<h3>Question 3: Adult beverages?</h3>

  <input type="radio" name="hunger3" value="1" checked> Yes please!<br>
  <input type="radio" name="hunger3" value="2"> Family Friendly please!<br>


<br>
<br>
<h3>Question 4:What sort of food were you feeling?</h3>

  <input type="radio" name="hunger4" value="1" checked> Something Hearty!<br>
  <input type="radio" name="hunger4" value="2"> Something Light!<br>
 
<br>
<br>
<h3>Question 5: What is more important?</h3>

  <input type="radio" name="hunger5" value="1" checked> I'd like to get a good deal!<br>
  <input type="radio" name="hunger5" value="2"> Something Fancy!<br>
  
  <input type="submit" name="my-form" value="Send"> 
</form>  
<br>
</body>

<style type="text/css"> 

{ margin: 0; padding: 0; }

html 
	{ 
        background: url('bg.png') no-repeat; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
	}
img
    {
   		max-width: 100%;
    	height: auto;
    	display: block;
   		margin: 0 auto;
     }
     

</style>

<img src="hopscotch.png" alt="Hopscotch">
</html>
