<!DOCTYPE html>
<html lang="en">
<body>
<p><a href="/hunger">Hungry</a></p>
<p><a href="/bored">Bored</a></p>


    <form action="." method="POST">
       <input type="text" name="text0" style="position: absolute; right: 430px; top: 380px; height:30px; width:300px">
       <input type="submit" name="my-form" value="Send" style="position: absolute; right: 430px; top: 430px;  background-color: Transparent; background-color: Transparent; background-repeat:no-repeat; height:25px; width:50px">
    </form>
</body>

<style type="text/css"> 

{ margin: 0; padding: 0; }

html 
	{ 
        background: url('bg.png') no-repeat; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
	}
img
    {
   		max-width: 100%;
    	height: auto;
    	display: block;
   		margin: 0 auto;
     }
     

</style>

<img src="hopscotch.png" alt="Hopscotch">

</html>
